html {
    background-color: #d5d5d5;
}

.container{
    width: 100%;
    padding: 30px;
    margin-top: 200px;
}

.row{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin:  0px 0px 0px 50px;
}

.col-40{
    width: 40%;
    margin: 10px;
    
}

.col-40 a {
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.cont-image{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    display: flex;
}

.cont-image img{
    width: 80%;
    display: flex;
    justify-content: center;
    
}